<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<!--- pagina inicial -->	
	<welcome-file-list>
		<welcome-file>index_servlet.html</welcome-file>
	</welcome-file-list>
<!--- Roles add -->	
	<servlet>
		<servlet-name>RolesControllerAdd</servlet-name>
		<servlet-class>controller.roles.RolesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerAdd</servlet-name>
		<url-pattern>/roles/add</url-pattern>
	</servlet-mapping>
<!--- Roles index -->
	<servlet>
		<servlet-name>RolesControllerIndex</servlet-name>
		<servlet-class>controller.roles.RolesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerIndex</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>
<!--- Roles delete -->	
	<servlet>
		<servlet-name>RolesControllerDelete</servlet-name>
		<servlet-class>controller.roles.RolesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerDelete</servlet-name>
		<url-pattern>/roles/delete</url-pattern>
	</servlet-mapping>
<!--- Roles view -->
    <servlet>
		<servlet-name>RolesControllerView</servlet-name>
		<servlet-class>controller.roles.RolesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerView</servlet-name>
		<url-pattern>/roles/view</url-pattern>
	</servlet-mapping>
<!--- Roles edit -->
	<servlet>
		<servlet-name>RolesControllerEdit</servlet-name>
		<servlet-class>controller.roles.RolesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerEdit</servlet-name>
		<url-pattern>/roles/edit</url-pattern>
	</servlet-mapping>
<!--- Users Add -->
	<servlet>
		<servlet-name>UsersControllerAdd</servlet-name>
		<servlet-class>controller.users.UsersControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerAdd</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>
<!--- Users Index -->
	<servlet>
		<servlet-name>UsersControllerIndex</servlet-name>
		<servlet-class>controller.users.UsersControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerIndex</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
<!--- Users Delete -->
	<servlet>
		<servlet-name>UsersControllerDelete</servlet-name>
		<servlet-class>controller.users.UsersControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerDelete</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
<!--- Users View -->
	<servlet>
		<servlet-name>UsersControllerView</servlet-name>
		<servlet-class>controller.users.UsersControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerView</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>
<!--- Users Edit -->
	<servlet>
		<servlet-name>UsersControllerEdit</servlet-name>
		<servlet-class>controller.users.UsersControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerEdit</servlet-name>
		<url-pattern>/users/edit</url-pattern>
	</servlet-mapping>	
<!--- Resources Add -->
	<servlet>
		<servlet-name>ResourcesControllerAdd</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerAdd</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>
<!--- Resources Index -->
	<servlet>
		<servlet-name>ResourcesControllerIndex</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerIndex</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>
<!--- Resources Delete -->
	<servlet>
		<servlet-name>ResourcesControllerDelete</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerDelete</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>	
<!--- Resources View -->
	<servlet>
		<servlet-name>ResourcesControllerView</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerView</servlet-name>
		<url-pattern>/resources/view</url-pattern>
	</servlet-mapping>	
<!--- Resources Edit -->
	<servlet>
		<servlet-name>ResourcesControllerEdit</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerEdit</servlet-name>
		<url-pattern>/resources/edit</url-pattern>
	</servlet-mapping>
<!--- Access Add -->
	<servlet>
		<servlet-name>AccessControllerAdd</servlet-name>
		<servlet-class>controller.access.AccessControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerAdd</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping> -->
<!--- Access Index -->
	<servlet>
		<servlet-name>AccessControllerIndex</servlet-name>
		<servlet-class>controller.access.AccessControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerIndex</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>
<!--- Access Delete -->
	<servlet>
		<servlet-name>AccessControllerDelete</servlet-name>
		<servlet-class>controller.access.AccessControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerDelete</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>	
<!--- Access View -->
    <servlet>
		<servlet-name>AccessControllerView</servlet-name>
		<servlet-class>controller.access.AccessControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerView</servlet-name>
		<url-pattern>/access/view</url-pattern>
	</servlet-mapping>	
<!--- Access Edit -->
    <servlet>
		<servlet-name>AccessControllerEdit</servlet-name>
		<servlet-class>controller.access.AccessControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerEdit</servlet-name>
		<url-pattern>/access/edit</url-pattern>
	</servlet-mapping>
<!--- Citations Add -->
	<servlet>
		<servlet-name>CitationsControllerAdd</servlet-name>
		<servlet-class>controller.citations.CitationsControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CitationsControllerAdd</servlet-name>
		<url-pattern>/citations/add</url-pattern>
	</servlet-mapping> -->
<!--- Citations Index -->
	<servlet>
		<servlet-name>CitationsControllerIndex</servlet-name>
		<servlet-class>controller.citations.CitationsControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CitationsControllerIndex</servlet-name>
		<url-pattern>/citations</url-pattern>
	</servlet-mapping>		
<!--- Citations Delete -->
	<servlet>
		<servlet-name>CitationsControllerDelete</servlet-name>
		<servlet-class>controller.citations.CitationsControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CitationsControllerDelete</servlet-name>
		<url-pattern>/citations/delete</url-pattern>
	</servlet-mapping>
<!--- Citations View -->
	<servlet>
		<servlet-name>CitationsControllerView</servlet-name>
		<servlet-class>controller.citations.CitationsControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CitationsControllerView</servlet-name>
		<url-pattern>/citations/view</url-pattern>
	</servlet-mapping>
<!--- Citations Edit -->
	<servlet>
		<servlet-name>CitationsControllerEdit</servlet-name>
		<servlet-class>controller.citations.CitationsControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CitationsControllerEdit</servlet-name>
		<url-pattern>/citations/edit</url-pattern>
	</servlet-mapping>	
<!--- User Login -->
    <servlet>
		<servlet-name>UsersControllerLogin</servlet-name>
		<servlet-class>controller.users.UsersControllerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerLogin</servlet-name>
		<url-pattern>/users/login</url-pattern>
	</servlet-mapping>		
<!--- User Login -->
    <servlet>
		<servlet-name>UsersControllerLogout</servlet-name>
		<servlet-class>controller.users.UsersControllerLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerLogout</servlet-name>
		<url-pattern>/users/logout</url-pattern>
	</servlet-mapping>

</web-app>
